<div>
  検索条件:
  <input type="text" id="condition" data-im="_@condition">
  表示件数：
  <input type="text" id="number" data-im="_@_im_pagedSize" size="3">
  <button id="search">search</button>
</div>

<table border="1" id="resultTable">
  <thead>
      <tr>
          <th>郵便番号
              <span id="sort1a">▲</span>
              <span id="sort1d">▼</span>
          </th>
          <th>都道府県</th>
          <th>市区町村</th>
          <th>町域名
              <span id="sort2a">▲</span>
              <span id="sort2d">▼</span>
          </th>
      </tr>
  </thead>
  <tbody>
      <tr>
          <td>
              <div data-im="postalcode@f3"></div>
          </td>
          <td>
              <div data-im="postalcode@f7"></div>
          </td>
          <td>
              <div data-im="postalcode@f8"></div>
          </td>
          <td>
              <div data-im="postalcode@f9"></div>
          </td>
      </tr>
      <tr data-im-control="noresult">
          <td colspan="4">検索結果はありません。あるいは検索前です。</td>
      </tr>
  </tbody>
</table>
